<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<meta property="og:title" content="Blå blå är kärleken - Cissi & Micke">
		<meta property="og:type" content="website" />
		<meta property="og:description" content="Blå blå är kärleken">
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
