.caption {
  top: 70%;
}

.info {
  height: auto;
  padding: 50px;
  background-color:white;
  text-align: center;
  letter-spacing: 2px;
  margin: 0 auto;
  color: rgb(28, 33, 49);

  p {
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
  }
}

.couple, .date {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  top: 8px;
  position: relative;
  float: left;
}

.grid {
  display: inline-block;
  width: 50%;
  max-width: 320px;
  text-align: left;
}