.caption {
  top: 70%;
}

.info {
  height: auto;
  padding: 50px;
  background-color:white;
  text-align: center;
  letter-spacing: 2px;
  margin: 0 auto;
  color: #01248B;

  .caption {
    position: relative;
  }
}

.couple, .date {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  top: 8px;
  position: relative;
  float: left;
}

.grid {
  display: inline-block;
  width: 50%;
  max-width: 320px;
  text-align: left;
}